@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");


html {
  scroll-behavior: smooth;
}

html,
body {
height: 100%;
  background-color: #b5ddfa;
}

body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0 16px;
    max-width: 1900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

#banner {
    background-image: url(./resources/536245.jpg);
    width: 1875px;
    background-size: cover;
    background-repeat: repeat-x;
    }

.banner {
  background-image: url(./resources/images.jfif);
  width: 1875px;
  height: 15%;
  background-size: cover;
  background-repeat: repeat-x;
  }


.title {
    padding: 5px;
    background-position: left;
    position: absolute;
    top: 5%;
    margin: 0;
    margin-bottom: 16px;
    color: #51eeee;
    font-size: 70px;
  }
   
  nav {    
    display: flex;
    align-items: center;
    padding: 16px 0;
    margin-bottom: 650px;
  }
  
  .navigation {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    text-decoration: none; 
  }
  
.navigation a {
    padding-left: 20px;
    text-decoration: none;
    color: #004b63;
    font-size: 45px;
    font-weight: bold;
    margin: 10px; 
  } 

/*.photo {
    margin-top: -25px;
    margin-right: 150px;
    float: left;
    width: 350px;
    height: 450px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
} */
   
.section {
    color: #004b63;
    display:flex;
    font-size: 50px;
    justify-content: left;
    margin-left: 150px;
}

.photo-2 {
  background-size: cover;
  display: flex;
  justify-content: center;
  border-radius: 8px;
  margin: -20px 450px;
  width: 300px;
  height: 350px;
 }

.about-me-container p {
  justify-content: left;
  font-size: 35px; 
  color: #004b63;
  text-align: justify;
  font-weight: bold;
  flex-wrap: wrap;
  margin-left: 800px;
  margin-top: -400px;

}

.about-me-container h3 {
    font-size: 35px; 
    color:#004b63;
    text-align: justify;
    font-weight: bold;  
    margin-left: 800px;
}

.about-me-container li {
    justify-content: right;
    font-size: 35px;
    color:#004b63;
    margin-left: 800px;
    font-weight: bold;
}

.project-1 {
  display: block;
  padding: 10px;
  position: relative;
  margin-left: 650px;
  margin-top: -150px;

}

.project {
  display: block;
  padding: 10px;
  position: relative;
  margin-left:500px;;
  margin-top: 10px;

}

.project-image1 {
  display:flex;
  flex-direction: row;
  padding: 5px;
  border: 5px solid rgb(122, 227, 248);
  height: 500px;
  width: 1000px;
  cursor: pointer;
}

.project-image2 {
  border: 5px solid rgb(122, 227, 248);
  padding: 5px;
  height: 200px;
  width: 500px;
  cursor: pointer;
}

.project-image3 {
  border: 5px solid rgb(122, 227, 248);
  padding: 5px;
  height: 200px;
  width: 500px;
  cursor: pointer;
}

.project-image4 {
  border: 5px solid rgb(122, 227, 248);
  padding: 5px;
  height: 200px;
  width: 500px;
  cursor: pointer;
}

.project-title {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 25px;
  background-color: rgb(122, 227, 248);

}

#skills-container {
  display: flex;
  flex-wrap: wrap;
  color: #004b63;
  font-size: 60px;
  padding: 20px;
  justify-content: space-evenly;
  margin-left: 400px;
  margin-top: -100px;
}

#skills-container > * {
  font-size: 60px;
  width: 50px;
  margin-top: 8px;
}

hr {
  display: none;
}

section {
  padding: 20px 0;
}

.contact h2 {
  color: #004b63;
  display:flex;
  font-size: 3em;
  text-align: center;
}

.photo-3 {
    height:400px;
    width: 500px;
    position: absolute;
    margin-top: -550px;
    margin-left: 700px;
    float: left;
    border-radius: 20px;
}
.contact p {
  color:#004b63;
  font-size: 30px;
  font-weight: 600;
}

.icon {
  font-size: 85px;
  color: #004b63;
  margin: 0 16px;;
}

footer {
  width: 100%;
  background-color: #85ccd0;
  font-size: 0.8rem;
  height: 10vh;
  margin-top: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkslategrey;

}

@media only screen and (max-width: 600px) {
#about-me {
    flex-direction: column;
  }
.banner {
    flex-direction: column;
}
#projects {
    flex-direction: column;
}
#skills {
    flex-direction: column;
}
.navigation-item {
    flex-direction: column;
  }
}
.contact {
    flex-direction: column;
}
  
